* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-size: 62.5%;

  font-family: "Nunito", sans-serif;
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
/* .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
} */

:root {
  --primary: #3b9c50;
  --primary-darker: #266a36;

  --secondary: #e13b38;
  --secondary-text: #111;

  --foreground: #f8f8f2;

  --hover-text: #92e496;
}
