.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
  width: 100%;

  background-color: var(--primary);
}

.header img {
  height: 9rem;
  margin-left: 3rem;
}

.header ul {
  display: flex;
  margin-right: 5rem;
  list-style-type: none;
}
.header ul li {
  text-align: center;

  max-height: 9rem;
  padding: 3rem 3rem;
  margin-left: 1rem;

  color: var(--foreground);

  font-size: 2rem;
  font-weight: 600;

  cursor: pointer;
  transition: ease-in-out 250ms;
  border-bottom: 4px solid var(--foreground);
}

.header ul li:hover {
  color: var(--hover-text);
}
